@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
    color: white;
    color: black;
    position: fixed;
    width: 100vw;
    border-bottom: 1px solid gray;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
    z-index: 10;
}

header.invisible{
    transform: translateY(-100px);
    transition: 1.5s;
}

header.visible{
    position: fixed;
    background-color: white;
    background-color: #A4A4A4;
    color: black;
    transform: translateY(0px);
    transition: 1.5s;
    box-shadow: 2px 2px 3px black;
    z-index: 1;
}

h1{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

.title{
    color: black;
    color: crimson;
}

.ulMenu{
    list-style: none;
    padding: 10px 0px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

.ulMenu li{
    display: inline-block;
    margin-right: 25px;
}

.ulMenu a{
    color: white;
    color: black;
}

.ulMenu a:hover{
    color: white;
    color: crimson;
}

#ulHamburguer{
    background-color: white;
    color: black;
    list-style: none;
    width: 100vw;
    position: fixed;
    margin-top: 70px;
    padding-top: 30px;
    height: 400px;
    border-bottom: 1px solid black;
    z-index: 10;
}

#ulHamburguer li{
    font-family: "Nanum Gothic Coding", monospace;
    font-size: 1.7em;
    text-align: center;
    height: 60px;
    padding: 10px;
}

.showMenuHamburguer{
    transform: translateX(0px);
    transition: 1.2s;
}

.hiddenMenuHamburguer{
    transform: translateX(-2500px);
    transition: 1.2s;
}

.navIcon{
    display: none;
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
}

.navIcon:hover{
    cursor: pointer;
}

.menuHamburguer{
    background-color: white;
    border: 0px solid white;
    width: 40px;
    height: 40px;
}

@media (max-width: 1150px){

    header{ padding: 20px 50px; }

}

@media (max-width: 970px){

    h1.titulo{ font-size: 1.7em; }
    ul.ulMenu{ font-size: 1em; }
    li{ margin-right: 15px; }

}

@media (max-width: 800px){

    header{ padding: 10px 20px;}
    .ulMenu{ display: none; }
    .navIcon{ display: block; }
    h1.titulo{ font-size: 2em; }

}

@media (max-width: 500px){

    header{ padding: 15px 10px; }
    h1.titulo{ font-size: 1.7em; }
    #ulHamburguer li{ font-size: 1.5em; }
    .menuHamburguer{ width: 35px; height: 35px; }

}

@media (max-width: 330px){

    h1.titulo{ font-size: 1.4em; }
    #ulHamburguer li{ font-size: 1.3em; }
    .menuHamburguer{ width: 27px; height: 27px; }

}