@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Hind:wght@300;400;500;600;700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.habilidades{
    border: 0px solid red;
    margin: 100px auto;
}

.habilidades h1{
    text-align: center;
    font-size: 3em;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 60px;
}

.habilidadesIconsDiv{
    width: 900px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 40px;
}

.habilidadesIcons{
    font-size: 7em;
    width: 170px;
}

.titleIcon{
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.mongoDB{
    width: 170px;
    height: 115px;
}

.iconHidden{
    transform: translateY(-100px);
    opacity: 0;
    transition: all 2s;

}

.iconShow{
    transform: translateY(0px);
    opacity: 1;
    transition: all 2s;

}

.habilidadesIconsDiv :nth-child(1){
    transition-delay: 500ms;
}   

.habilidadesIconsDiv :nth-child(2){
    transition-delay: 800ms;
}   

.habilidadesIconsDiv :nth-child(3){
    transition-delay: 1000ms;
}   

.habilidadesIconsDiv :nth-child(4){
    transition-delay: 1200ms;
}   

.habilidadesIconsDiv :nth-child(5){
    transition-delay: 1400ms;
}   

.habilidadesIconsDiv :nth-child(6){
    transition-delay: 1600ms;
}   

.habilidadesIconsDiv :nth-child(7){
    transition-delay: 1800ms;
}   

.habilidadesIconsDiv :nth-child(8){
    transition-delay: 2000ms;
}   