@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Hind:wght@300;400;500;600;700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.home{
    border: 0px solid red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.typewiter{
    height: 170px;
    color: white;
    color: black;
    text-align: center;
    font-size: 3.5em;
    width: 700px;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.textBlack{
    color: black;
    color: crimson;
}

.redesSociais{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    width: 450px;
}

.containerIcons{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    width: 170px;
    border-radius: 10px;
}

.containerIcons p{
    padding: 12px 0px;
    font-size: 1.3em;
}

.icons{
    color: crimson;
    color: black;
    font-size: 3.5em;
}

@media (max-width: 700px){

    .typewiter{
        font-size: 3em;
        height: 150px;
        width: 100vw;
    }

}

@media (max-width: 570px){

    .typewiter{
        font-size: 2.5em;
        height: auto;
    }

}

@media (max-width: 475px){

    .typewiter{ font-size: 2em; }
    .containerIcons{ width: 150px; }
    .icons{ font-size: 3em; }

    .redesSociais{
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
        width: 100vw;
    }
    
    .containerIcons p{
        padding: 9px 0px;
        font-size: 1.2em;
    }

}

@media (max-width: 380px){

    .typewiter{ font-size: 1.6em; }
    .containerIcons{ width: 130px; }
    .icons{ font-size: 2em; }
    .redesSociais{ row-gap: 5px; }
    .home{ row-gap: 10px; }

    .containerIcons p{
        padding: 6px 0px;
        font-size: 1em;
    }

}