@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px 130px;
    color: white;
    position: fixed;
    width: 100%;
}

header.invisible{
    transform: translateY(-100px);
    transition: 1.5s;
}

header.visible{
    position: fixed;
    background-color: white;
    color: black;
    transform: translateY(0px);
    transition: 1.5s;
    box-shadow: 2px 2px 3px black;
    z-index: 1;
}

h1{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 600;
    font-style: normal;
    font-size: 2em;
}

.title{
    color: crimson;
    color: black;
}

ul{
    list-style: none;
    padding: 10px 0px;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
}

li{
    display: inline-block;
    margin-right: 25px;
}