@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Hind:wght@300;400;500;600;700&family=Madimi+One&family=Nanum+Gothic+Coding&family=Ojuju:wght@200..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

#sobreMin{

}

#imagem{
    width: 35%;
    height: 450px;
}

#imagem img{
    width: 100%;
    height: 100%;
}

h1.displayBlock{
    font-size: 1.5em;
    color: black;
}

h1.displayNone{
    display: none;
}

#conteudo{
    padding: 50px 20px;
    width: 60%;
    height: 500px;
    font-size: 1.4em;
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.hidden{
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.showSection{
    box-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 80%;
    margin: 10px auto 100px auto;
    height: 500px;
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transition: all 1.5s;
}


@media (max-width: 1235px){

    .showSection{ width: 90%; }

}

@media (max-width: 992px){

    h1.displayBlock{ display: none; }
    .showSection{ width: 85%; }

    #imagem{ 
        width: 350px; 
        height: 400px;
    } 

    h1.displayNone{ 
        display: block; 
        font-size: 3em;
    }

    .showSection{
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
        height: auto;
        row-gap: 20px;
    }

    #conteudo{
        width: 500px;
        text-align: center;
    }
}

@media (max-width: 600px){

    h1.displayNone{ font-size: 2.5em; }
    #sobreMin{ width: 90%; }

    #imagem{ 
        width: 300px; 
        height: 350px;
    } 

    #conteudo{
        padding: 40px 10px;
        width: 100%;
        font-size: 1.3em;
    }

}

@media (max-width: 475px){

    .showSection{ width: 95%; }
    #imagem{ display: none;} 
    h1.displayNone{ font-size: 2em; }

    #conteudo{ 
        padding: 10px 10px; 
        height: auto;
        font-size: 1.2em;
    }

}

@media (max-width: 350px){

    #conteudo{
        font-size: 1em;
    }

}